{% extends 'base.html' %}
{% block title %}About - DepoAuto{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        <h1 class="h3 mb-3">Nuestra historia</h1>
        <p>Somos una empresa con más de 30 años de experiencia en la fabricación y comercialización de repuestos
            plásticos para vehículos. Nos especializamos en tanques auxiliares del radiador, tanques lavavidrios y
            mionas del lavavidrios, competibles con vehículos de marcas como Toyota, Isuzu, Mitsubishi, Nissan, Mazda,
            Suzuki, Renault, Chevrolet, Ford, Hyundai y Kia. Nuestra reputación se basa en altos estándares de calidad,
            lo que nos ha permitido consolidarnos en el mercado nacional y expandirnos a nivel internacional.</p>
    </div>
</div>
{% endblock %}